
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
    padding: 50px;
}

h1 {
    margin-bottom: 40px;
}

button {
    display: block;
    width: 300px;
    padding: 15px;
    margin: 10px auto;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #dddddd;
}

#points {
    font-size: 18px;
    margin-top: 30px;
}

#result {
    font-size: 25px;
    margin-top: 30px;
}

#result button {
    background-color: black;
    color: white;
}
